body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.Homebackground {
    padding-top: 2%;
    padding-bottom: 19.45%;
    padding-left: 20%;
    padding-right: 20%;
    background-image: url("https://cdn.pixabay.com/photo/2016/03/09/16/46/hiking-1246836_1280.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 0;
}

.Homebackground-2 {
    padding-top: 2%;
    padding-bottom: .55%;
}

.jumbotron {
    background-color: rgba(255, 255, 255, .5);
}

.view-background-2 {
    padding-top: 3%;
    padding-bottom: 5%;
}
.view-background-1 {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 3%;
    padding-right: 3%;
    background-color: rgba(255, 255, 255, .5);
    background-size: 100%;
    z-index: 0;
    border-radius: 5%;
}
.Background-1 {
    background: rgba(0, 0, 0, .90);
    z-index: 0;
    position: relative;
    min-height: 93vh;
}
.Footer-1 {
    color: white;
    vertical-align: bottom;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.Background-2 {
    background-image: url("https://cdn.pixabay.com/photo/2017/12/17/19/08/away-3024773_1280.jpg");
    z-index: 1;
}

.form-0 {
    padding-top: 5%;
    padding-left: 41.5%;
    padding-right: 41.5%;
}

.form-1 {
    padding-top: 3.5%;
    padding-bottom: 3.5%;
    background-color: rgba(255, 255, 255, .5);
    text-align: center;
}

.form-2 {
    <script> $(function()
{
    function after_form_submitted(data)
    {
        if(data.result == 'success')
        {
            $('form#reused_form').hide();
            $('#success_message').show();
            $('#error_message').hide();
        }
        else
        {
            $('#error_message').append('<ul></ul>');

            jQuery.each(data.errors,function(key,val)
            {
                $('#error_message ul').append('<li>'+key+':'+val+'</li>');
            });
            $('#success_message').hide();
            $('#error_message').show();

            //reverse the response on the button
            $('button[type="button"]', $form).each(function()
            {
                $btn = $(this);
                label = $btn.prop('orig_label');
                if(label)
                {
                    $btn.prop('type','submit' );
                    $btn.text(label);
                    $btn.prop('orig_label','');
                }
            });

        }
    }

	$('#reused_form').submit(function(e)
      {
        e.preventDefault();

        $form = $(this);
        //show some response on the button
        $('button[type="submit"]', $form).each(function()
        {
            $btn = $(this);
            $btn.prop('type','button' );
            $btn.prop('orig_label',$btn.text());
            $btn.text('Sending ...');
        });


                    $.ajax({
                type: "POST",
                url: 'handler.php',
                data: $form.serialize(),
                success: after_form_submitted,
                dataType: 'json'
            });

      });
});
    </script>
}

.Body-Section-1 {
}

.wrapper {
    margin: 0 auto;
    /*text-align: center;*/
}

.btn_fab {
    color: #fff;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    border: 2px solid #fff;
    padding: 5px 15px;
    position: relative;
    cursor: pointer;
}

a.btn_fab:hover {
    animation-name: change-background;
    animation-duration: .3s;
    -webkit-animation-delay: .3s; /* Chrome, Safari, Opera */
    animation-delay: .3s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes change-background {
    0% {
        background: transparent;
    }

    100% {
        background: #fff;
        color: #000;
    }
}

a.btn_fab:before {
    position: absolute;
    content: "";
    width: 10px;
    height: 2px;
    left: 0;
    top: 22px;
    background-color: #fff;
    animation-name: right-to-left;
    animation-duration: .3s;
}

@-webkit-keyframes right-to-left {
    0% {
        width: 100%;
    }

    50% {
        width: 100%;
        right: 0;
    }

    100% {
        width: 10px;
        left: 0;
        right: auto;
    }
}

a.btn_fab:hover:before {
    animation-name: left-to-right;
    animation-duration: .3s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes left-to-right {
    0% {
        width: 10px;
    }

    50% {
        width: 100%;
        left: 0;
    }

    100% {
        width: 10px;
        right: 0;
        left: auto;
    }
}

.buttonWhite {
    cursor: pointer;
    outline: none;
    position: relative;
    z-index: 3;
    background: transparent;
    color: white;
    font-size: 13px;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 22px;
    padding: 3px 13px;
    text-transform: uppercase;
    transition: all 0.2s linear;
    text-decoration: none;
}

/*.outline {
    color: black;
    background: white;
    border-color: white;
    transition: all 0.2s linear;
    position: relative;
    z-index: 3;
    background: transparent;
    color: white;
    font-size: 14px;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 22px;
    padding: 10px 40px;
    text-transform: uppercase;
    transition: all 0.2s linear;
}*/